/* Light Theme (default) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

body.dark {
    --background-color: #1e1e1e;
    --text-color: #e0e0e0;
}

/* Apply the CSS Variables */
body {
    width: 350px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 1s, color 1s;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    border-bottom: 1px inset #ddd;
}

header h1 {
    margin: 0;
    display: inline;
    font-size: 25px;
}

#settings {
    position: absolute;
    top: 10px;
    color: var(--text-color);
    transition: background-color 1s, color 1s;
    background-color: var(--background-color);
    left: 5%;
    font-size: 25px;
    display: inline;
    align-items: center;
    cursor: pointer;
}

.mode-toggle {
    color: var(--text-color);
    position: absolute;
    font-size: 20px;
    top: 15px;
    right: 5%;
    display: inline;
    align-items: center;
    cursor: pointer;
}

#darkToggle {
    transform: rotate(45deg);
}


.settingsPopup {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease
}

.settingsPopup.show {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 20px 10px 20px;
    margin: 5px 20px 10px 20px;
    border: 2px solid magenta;
    opacity: 1;
    visibility: visible;
/*    overflow: unset;*/
}

.miniHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#popupTitle {
    font-size: 20px;
    font-weight: bold;
}

#closePopupBtn {
    /*    font-weight: bold;*/
    cursor: pointer;
    font-size: 28px;
    color: var(--text-color);
}

#saveButton {
    margin-top: 10px;
    float: right;
    color: magenta;
    background-color: var(--text-color);
    cursor: pointer;
}

.reason {
    border: 1px solid khaki;
    grid-area: reason
}

.notification-title {
    grid-area: title;
    border: 1px solid magenta;
}

.type {
    grid-area: type;
    border: 1px solid mediumblue;
}

.notification {
    display: grid;
    border-bottom: 1px solid red;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'reason title title'
        'reason title title'
        'type title title';
    padding-bottom: 20px;
    padding-top: 5px;
}

.notification:last-child {
    border-bottom: none;
}
